h1 {
    color:coral;
    text-align:center;
}
#error {
    color:white;
    background-color: red;
    font-weight: 700;
    font-size:large;
}

.alert
{
    color:red;
    font-size: larger;
    font-weight: 700;

}